.bg_login{background: url('../img/office_background.jpg') center center no-repeat; background-size: cover; }

.al-right{float: right;}

.camera{width: 100%; background: url ('img/camera.png') center center no-repeat; background-size: cover;}